node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
credentials.json

android/keystores
ios/fastlane/report.xml
android/fastlane/report.xml


# macOS
.DS_Store
